<?xml version="1.0" encoding="UTF-8"?>
<web-app >
  <display-name>ProductDetailsPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductRegistrationServlett</display-name>
    <servlet-name>ProductRegistrationServlett</servlet-name>
    <servlet-class>servlet.ProductRegistrationServlett</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductRegistrationServlett</servlet-name>
    <url-pattern>/ProductRegistrationServlett</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>model.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductRegistrationServlett1</display-name>
    <servlet-name>ProductRegistrationServlett1</servlet-name>
    <servlet-class>servlet.ProductRegistrationServlett</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductRegistrationServlett1</servlet-name>
    <url-pattern>/ProductRegistrationServlett1</url-pattern>
  </servlet-mapping>
</web-app>